{% extends "base.html" %}
{% load static %}
{% block content %} 
<div>
    <h1 class="game-head"> Tic Tac Toe </h1>

    <div class="user-list-container">
        <h2>Usuarios</h2>
        <ul class="game-requests-list">
            <li>
                <span>Usuario1</span>
                <button class="connect-button">Conectar</button>
            </li>
        </ul>
        <div class="tic-tac-toe-container">
            <button type="button" class="tic-tac-toe-button">X</button>
            <button type="button" class="tic-tac-toe-button"></button>
            <button type="button" class="tic-tac-toe-button"></button>
            <button type="button" class="tic-tac-toe-button">O</button>
            <button type="button" class="tic-tac-toe-button"></button>
            <button type="button" class="tic-tac-toe-button"></button>
            <button type="button" class="tic-tac-toe-button"></button>
            <button type="button" class="tic-tac-toe-button"></button>
            <button type="button" class="tic-tac-toe-button"></button>
    </div>
    </div>

</div>

<script type="text/javascript">
    window.onload = function () { 
        startGameChannel()
    }
</script>
    
{% endblock %}