{% extends "base.html" %}
{% load static %}
{% block content %} 
<div>
    <h1 class="game-title"> Tic Tac Toe </h1>
    <div class="game-container"> 
        <a type="button" class="close-button" href="/web"> Close </a> 
    
        <div class="open-sessions-list-container">
        
            <h2 class="game-head">Wait for player</h2>
            
            <ul class="game-requests-list"></ul>
            
            <div class="player-turn"> </div>
            
            <div class="tic-tac-toe-container">
                <button type="button" class="x-0 y-0 tic-tac-toe-button"></button>
                <button type="button" class="x-1 y-0 tic-tac-toe-button"></button>
                <button type="button" class="x-2 y-0 tic-tac-toe-button"></button>
                <button type="button" class="x-0 y-1 tic-tac-toe-button"></button>
                <button type="button" class="x-1 y-1 tic-tac-toe-button"></button>
                <button type="button" class="x-2 y-1 tic-tac-toe-button"></button>
                <button type="button" class="x-0 y-2 tic-tac-toe-button"></button>
                <button type="button" class="x-1 y-2 tic-tac-toe-button"></button>
                <button type="button" class="x-2 y-2 tic-tac-toe-button"></button>
            </div>
    
        </div>

    </div>

</div>

<script type="text/javascript">
    window.onload = function () { 
        initChannelForPlayer()
    }
</script>
    
{% endblock %}