{% extends "app.html" %}
{% load static %}

{% block header_content %}
    <div class="header-content">
        <a type="button" id="logout-button" class="close-button" href=""> Log out </a> 
        <a type="button" id="logout-button" class="close-button" href="{% url 'history' %}"> History </a> 
    </div>
{% endblock %}


{% block content %} 

    <a class="play-button" href="{% url 'start-game-session' %}">Play</a>
    <h2>Open Games</h2>
    <ul class="open-sessions-list">
        {% for session in open_sessions %}
            <li>
                <span>{{session.host}}</span>
                <a class="connect-button" href="{% url 'game-session' session.id %}" > Connect </a>
            </li>
        {% endfor %}
    </ul>

    <script>
        const link = document.querySelector('#logout-button');
        link.addEventListener('click', (event) => {
            logoutUser()
        });
    </script>

{% endblock %}