{% extends "base.html" %}
{% load static %}
{% block content %} 
<div>
    <h1 class="game-head"> Tic Tac Toe </h1>
    <div class="user-list-container">
        <button class="play-button" onclick="startGame()">Jugar</button>
        <h2>Usuarios</h2>
        <ul class="user-list">
            <li>
                <span>Usuario1</span>
                <button class="connect-button">Conectar</button>
            </li>
            <li>
                <span>Usuario2</span>
                <button class="connect-button">Conectar</button>
            </li>
            <li>
                <span>Usuario3</span>
                <button class="connect-button">Conectar</button>
            </li>
            <li>
                <span>Usuario4</span>
                <button class="connect-button">Conectar</button>
            </li>
            <li>
                <span>Usuario5</span>
                <button class="connect-button">Conectar</button>
            </li>
        </ul>
    </div>
</div>

{% endblock %}