
{% extends "base.html" %}
{% load static %}
{% block app %} 

<div class="login-container">
  <h2>Tic Tac Toe Game</h2>
      <div class="input-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required>
      </div>
      <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
      </div>
      <button type="submit" onclick="onSignUp()">Sign Up</button>
</div>

{% endblock %}