{% extends "app.html" %}
{% load static %}
{% block content %} 

<div id="game-session-container"  name="{{session_id}}">
    <h1> Finding Players ... </h1>
    <ul class="game-requests-list">
    </ul>
</div>

<script type="text/javascript">
    gameSessionContainer = document.querySelector("#game-session-container")
    gameSessionId = gameSessionContainer.getAttribute("name")
    window.onload = function () { 
        findPlayers(gameSessionId, "{% url 'game' %}")
    }
</script>

{% endblock %}